<h3 class="card-title align-items-start d-flex flex-column mt-5">
    Team <span class="card-label fw-bolder fs-1 mb-1">{{ team.name }}</span>
    <span class="text-muted fw-bold fs-5">from {{ team.country }}</span>
    <span class="text-muted fw-bold fs-5">budget of ${{ team.money }}</span>
</h3>

<div class="row mt-10">

  <div class="col-6">
    <h2>Sell ({{ nbPlayer }})</h2>
    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <thead>
            <tr class="text-muted">
                <th>Name</th>
                <th>Surname</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody class="border-bottom border-dashed">
            {% for player in players %}
                <tr>
                    <td><a href="#" class="sell-player" data-team-id="{{ team.id }}" data-player-id="{{ player.id }}">{{ player.name }}</a></td>
                    <td>{{ player.surname }}</td>
                    <td>${{ player.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

  <div class="col-6">
    <h2>Buy ({{ nbNonPlayer }})</h2>
    <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
        <thead>
            <tr class="text-muted">
                <th>Name</th>
                <th>Surname</th>
                <th>Price</th>
                <th>Owner</th>
            </tr>
        </thead>
        <tbody class="border-bottom border-dashed">
            {% for player in nonPlayers %}
                <tr>
                    <td><a href="#" class="buy-player" data-team-id="{{ team.id }}" data-player-id="{{ player.id }}">{{ player.name }}</a></td>
                    <td>{{ player.surname }}</td>
                    <td>${{ player.price }}</td>
                    <td>{{ player.team }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>

</div>

<script>
  $(document).ready(function() {

    $('.sell-player').on('click', function(event) {
      event.preventDefault();

      var teamId = $(this).data('team-id');
      var playerId = $(this).data('player-id');

      if (confirm('Are you sure you want to sell this player?')) {
        window.location.href = "/team/player/sell/" + teamId + "/" + playerId;
      }
    });

    $('.buy-player').on('click', function(event) {
      event.preventDefault();

      var teamId = $(this).data('team-id');
      var playerId = $(this).data('player-id');

      if (confirm('Are you sure you want to buy this player?')) {
        window.location.href = "/team/player/buy/" + teamId + "/" + playerId;
      }
    });

  });
</script>