{% extends 'home/index.html.twig' %}

{% block title %}Player index{% endblock %}

{% block content %}

    <div class="text-center mb-10">
        <h2 class="mb-3">Search for player</h2>
        <div class="text-muted fw-bold fs-5">Use these filter to quickly get who you need</div>
    </div>
    {{ include('player/_player-search-form.html.twig') }}


    <div class="text-center mb-10">
        <h1 class="mb-3">Player index</h1>
    </div>

    <table class="table">
        <thead>
            <tr class="text-muted">
                <th>Id</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Team</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ player.id }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.surname }}</td>
                <td>{{ player.team }}</td>
                <td>
                    <a href="{{ path('player_show', {'id': player.id}) }}">show</a>
                    <a href="{{ path('player_edit', {'id': player.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('player_new') }}">Create new</a>
{% endblock %}
