<style>
.form-control.form-control-solid {
  background-color: #dceaf4;
}
.w-66 {
    width: 66%;
}
</style>




    <form class="form" method="post">
    {{ form_start(form) }}
        <!--begin::Input group-->
        <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-7 fv-row fv-plugins-icon-container">
                <!--begin::Label-->
                <label class="required fs-5 fw-bold mb-2">Name</label>
                <!--end::Label-->
                <!--begin::Input-->
                <div class="col-lg-8 fv-row">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-solid'}}) }}
                </div>
                <!--end::Input-->
            <div class="fv-plugins-message-container invalid-feedback"></div></div>
            <!--end::Col-->
            <!--begin::Col-->
            <div class="col-md-5 fv-row fv-plugins-icon-container">
                <!--end::Label-->
                <label class="required fs-5 fw-bold mb-2">Country</label>
                <!--end::Label-->
                <!--end::Input-->
                <div class="col-lg-8 fv-row">
                    {{ form_widget(form.country, {'attr': {'class': 'form-control form-control-solid'}}) }}
                </div>
                <!--end::Input-->
            <div class="fv-plugins-message-container invalid-feedback"></div></div>
            <!--end::Col-->
        </div>
        <!--end::Input group-->
        <!--begin::Input group-->
        <div class="row mb-5">
            <!--begin::Col-->
            <div class="col-md-7 fv-row fv-plugins-icon-container">
                <!--begin::Label-->
                <label class="required fs-5 fw-bold mb-2">Budget</label>
                <!--end::Label-->
                <!--begin::Input-->
                <div class="col-lg-8 fv-row">
                    {{ form_widget(form.money, {'attr': {'class': 'form-control form-control-solid'}}) }}
                </div>
                <!--end::Input-->
            <div class="fv-plugins-message-container invalid-feedback"></div></div>
            <!--end::Col-->
            <div class="col-md-5 fv-row fv-plugins-icon-container mt-7">
                <button class="btn btn-primary w-66">{{ button_label|default('Save') }}</button>
            </div>
        </div>
        <!--end::Input group-->
        

    {{ form_end(form) }}
    </form>
