<h3 class="card-title align-items-start d-flex flex-column mt-5">
    <span class="card-label fw-bolder fs-1 mb-1">{{ team.name }}</span>
    <span class="text-muted fw-bold fs-5">from {{ team.country }}</span>
    <span class="text-muted fw-bold fs-5">budget of ${{ team.money }}</span>
</h3>

<table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
    <!--begin::Table body-->
    <tbody class="border-bottom border-dashed">
        {% for player in team.player %}
            <tr class="fw-bold fs-6 text-gray-800 text-center">
                <td class="text-start ps-6 fs-5">{{ player.name }} {{ player.surname }}</td>
                <td><a href="{{ path('player_show', {'id': player.id}) }}">show</a></td>
                <td><a href="{{ path('player_edit', {'id': player.id}) }}">edit</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <!--end::Table body-->
</table>
