{{ form_start(form) }}
    {{ form_widget(form.firstname) }}
    {{ form_widget(form.lastname) }}
    {{ form_label(form.gender) }}
    {{ form_widget(form.gender) }}
    {{ form_label(form.classe) }}
    {{ form_widget(form.classe) }}
    
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary w-66">{{ button_label|default('Enregistrer') }}</button>
    </div>
    
{{ form_end(form) }}