{% extends 'dashboard-base.html.twig' %}

{% block favicon %}<link rel="shortcut icon" href="../assets/media/logos/PI-favicon.gif" />{% endblock %}

{% block title %}{{ template_title }}{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div hidden>
        {% block logo %}<img alt="Logo" src="../assets/media/logos/logo_pi-planner.png" class="h-25px logo" />{% endblock %}
    </div>


    {% for notice in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ notice }}</div>
    {% endfor %}
    {% for notice in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ notice }}</div>
    {% endfor %}

    <h1>Fiche de {{ student.firstname }} {{ student.lastname }}</h1>

    <hr>


    <!--begin::Row-->
    <div class="row gy-5 g-xl-8">
        <!--begin::Col-->
        <div class="col-xl-6 mb-5 mb-xl-10">
            <!--begin::User Info-->
            <div class="d-flex flex-center flex-column py-5">
                <!--begin::Avatar-->
                <div class="symbol symbol-100px symbol-circle mb-7">
                    {% if student.gender == "Me" %}
                        {% set avatar = '002-girl' %}
                    {% else %}
                        {% set avatar = '001-boy' %}
                    {% endif %}
                    <img src="../../assets/media/svg/avatars/{{ avatar }}.svg" alt="image" />
                </div>
                <!--end::Avatar-->
                <!--begin::Name-->
                <div class="anarana py-5">
                    <span class="fw-bolder text-muted">{{ student.gender }}</span>
                    <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">{{ student.firstname }} {{ student.lastname }}</a>
                </div>
                <!--end::Name-->
                <!--begin::Position-->
                <div class="mb-9">
                    <!--begin::Badge-->
                    <div class="badge badge-lg badge-light-primary d-inline"><a href="{{ path('classe_show', {'id': student.classe.id}) }}">{{ student.classe.name }}</a></div>
                    <!--begin::Badge-->
                </div>
                <!--end::Position-->
                <!--begin::Info-->
                {{ include('student/_individual_student_score_stats.html.twig') }}
                <!--end::Info-->
                <div class="d-flex justify-content-end pt-10">
                    <a href="{{ path('student_edit', {'id': student.id}) }}" class="btn btn-primary w-66 me-2">Editer</a>
                    {{ include('student/_delete_form.html.twig') }}
                </div>
            </div>
            <!--end::User Info-->
        </div>
        <!--end::Col-->
        <!--begin::Col-->
        <div class="col-xl-4">
            <!--begin::List Widget 6-->
            <div class="card card-xl-stretch mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0" style="align-content: center;">
                    <a class="d-flex text-active-primary fs-4" style="align-items: center;" href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_student_scores_{{ student.id }}">
                        <div class="">EDITER LES NOTES</div>
                        <div class="card-toolbar">
                            <!--begin::Menu-->
                                <!--begin::Svg Icon | path: icons/duotune/general/gen024.svg-->
                                <span class="svg-icon svg-icon-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                            <rect x="5" y="5" width="5" height="5" rx="1" fill="#000000" />
                                            <rect x="14" y="5" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                                            <rect x="5" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                                            <rect x="14" y="14" width="5" height="5" rx="1" fill="#000000" opacity="0.3" />
                                        </g>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            <!--begin::Menu 3-->
                            <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg-light-primary fw-bold w-200px py-3" data-kt-menu="true">
                                <!--begin::Heading-->
                                <div class="menu-item px-3">
                                    <div class="menu-content text-muted pb-2 px-3 fs-7 text-uppercase">Payments</div>
                                </div>
                                <!--end::Heading-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">Create Invoice</a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link flex-stack px-3">Create Payment
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="Specify a target name for future usage and reference"></i></a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3">
                                    <a href="#" class="menu-link px-3">Generate Bill</a>
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3" data-kt-menu-trigger="hover" data-kt-menu-placement="right-end">
                                    <a href="#" class="menu-link px-3">
                                        <span class="menu-title">Subscription</span>
                                        <span class="menu-arrow"></span>
                                    </a>
                                    <!--begin::Menu sub-->
                                    <div class="menu-sub menu-sub-dropdown w-175px py-4">
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="#" class="menu-link px-3">Plans</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="#" class="menu-link px-3">Billing</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <a href="#" class="menu-link px-3">Statements</a>
                                        </div>
                                        <!--end::Menu item-->
                                        <!--begin::Menu separator-->
                                        <div class="separator my-2"></div>
                                        <!--end::Menu separator-->
                                        <!--begin::Menu item-->
                                        <div class="menu-item px-3">
                                            <div class="menu-content px-3">
                                                <!--begin::Switch-->
                                                <label class="form-check form-switch form-check-custom form-check-solid">
                                                    <!--begin::Input-->
                                                    <input class="form-check-input w-30px h-20px" type="checkbox" value="1" checked="checked" name="notifications" />
                                                    <!--end::Input-->
                                                    <!--end::Label-->
                                                    <span class="form-check-label text-muted fs-6">Recuring</span>
                                                    <!--end::Label-->
                                                </label>
                                                <!--end::Switch-->
                                            </div>
                                        </div>
                                        <!--end::Menu item-->
                                    </div>
                                    <!--end::Menu sub-->
                                </div>
                                <!--end::Menu item-->
                                <!--begin::Menu item-->
                                <div class="menu-item px-3 my-1">
                                    <a href="#" class="menu-link px-3">Settings</a>
                                </div>
                                <!--end::Menu item-->
                            </div>
                            <!--end::Menu 3-->
                            <!--end::Menu-->
                        </div>
                    </a>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body pt-0">
                    {% if scores %}

                        {% set color = 'info' %}

                        {% for score in scores %}
                            {% if score.value < 6 %}
                                {% set color = 'danger' %}
                            {% elseif score.value >= 6 and score.value < 12 %}
                                {% set color = 'warning' %}
                            {% elseif score.value >= 12 and score.value < 20 %}
                                {% set color = 'success' %}
                            {% endif %}

                            {% if score.value == 20 %}
                                {% set color = 'info' %}
                            {% endif %}
                            
                            <!--begin::Item-->
                            <div class="d-flex align-items-center bg-light-{{ color }} rounded p-5 mb-7">
                                <!--begin::Icon-->
                                <span class="svg-icon svg-icon-{{ color }} me-5">
                                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs027.svg-->
                                    <span class="svg-icon svg-icon-1">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.3" d="M21.25 18.525L13.05 21.825C12.35 22.125 11.65 22.125 10.95 21.825L2.75 18.525C1.75 18.125 1.75 16.725 2.75 16.325L4.04999 15.825L10.25 18.325C10.85 18.525 11.45 18.625 12.05 18.625C12.65 18.625 13.25 18.525 13.85 18.325L20.05 15.825L21.35 16.325C22.35 16.725 22.35 18.125 21.25 18.525ZM13.05 16.425L21.25 13.125C22.25 12.725 22.25 11.325 21.25 10.925L13.05 7.62502C12.35 7.32502 11.65 7.32502 10.95 7.62502L2.75 10.925C1.75 11.325 1.75 12.725 2.75 13.125L10.95 16.425C11.65 16.725 12.45 16.725 13.05 16.425Z" fill="black" />
                                            <path d="M11.05 11.025L2.84998 7.725C1.84998 7.325 1.84998 5.925 2.84998 5.525L11.05 2.225C11.75 1.925 12.45 1.925 13.15 2.225L21.35 5.525C22.35 5.925 22.35 7.325 21.35 7.725L13.05 11.025C12.45 11.325 11.65 11.325 11.05 11.025Z" fill="black" />
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                </span>
                                <!--end::Icon-->
                                <!--begin::Title-->
                                <div class="flex-grow-1 me-2">
                                    <a href="#" class="fw-bolder text-gray-800 text-hover-primary fs-6">{{ score.subject.name }}</a>
                                    <span class="text-muted fw-bold d-block">Appréciation : </span>
                                </div>
                                <!--end::Title-->
                                <!--begin::Lable-->
                                
                                    {# <a href="#" data-bs-toggle="modal" data-bs-target="#kt_modal_edit_student_score_{{ score.id }}"> #}
                                        <span id="score-element_{{ score.id}}" class="score-element fw-bolder text-{{ color }} fs-1 py-1">{{ score.value }}</span>
                                    {# </a> #}
                                
                                <!--end::Lable-->
                            </div>
                            <!--end::Item-->

                            {# {{ include('student/_modal_edit_student_score_form.html.twig') }} #}
                        {% endfor %}

                        {{ include('student/_modal_student_score_forms.html.twig') }}

                    {% endif %}
                </div>
                <!--end::Body-->
            </div>
            <!--end::List Widget 6-->
        </div>
        <!--end::Col-->
    </div>
    <!--end::Row-->

    <hr>

    <div class="d-flex justify-content-between">
        {% if previous %}
            <a href="{{ path('student_show', {'id': previous}) }}" class="btn btn-primary px-3">Précédent</a>
        {% endif %}
        <a href="{{ path('student_list') }}" class="btn btn-secondary w-66">Voir tous les étudiants</a>
        {% if next %}
            <a href="{{ path('student_show', {'id': next}) }}" class="btn btn-primary px-3">Suivant</a>
        {% endif %}
    </div>

    <script>
        const submitButtons = document.querySelectorAll('#score_edit');

        submitButtons.forEach(button => {
            button.addEventListener('click', (event) => {
                event.preventDefault();
                
                const scoreId = button.getAttribute('data-score-id');
                const elem0 = document.querySelector(`div[data-score-id="${scoreId}"]`);
                const scoreInput = elem0.querySelector('input').value;

                const url = "{{ path('score_update') }}";

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        scoreId: scoreId,
                        newScore: scoreInput,
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    const targetSelector = `a[data-bs-target="#kt_modal_edit_student_score_${scoreId}"]`;
                    const targetElement = document.querySelector(targetSelector);
                    const scoreElement = targetElement.querySelector('span');

                    if (data.status == 'KO') {
                        if (targetElement) {
                            if (scoreElement) {
                                let spanTarget = document.querySelector(`#socere-error-message_${ scoreId }`);
                                spanTarget.textContent = `Saisie invalide: ${data.input} n'est pas un nombre`;
                                console.log(data.message);
                            } else {
                                console.error('Error updating score: Score element not found');
                            }
                        } else {
                            console.error('Error updating score: Target element not found');
                        }
                    } else {
                        scoreElement.textContent = scoreInput;
                        window.location.reload(true);
                    }
                })
                .catch(error => {
                    console.error('Error updating score:', error);
                });
            });
        });

        const scoreSubmitButton = document.querySelector('#scores-edition');
        const allScoreForms = document.querySelectorAll(`form[name="score"]`);
        const studentId = "{{ student.id }}";
        const targetedModal = document.getElementById(`kt_modal_student_scores_${studentId}`);

        scoreSubmitButton.addEventListener('click', (e) => {
            e.preventDefault;

            allScoreForms.forEach(scoreForm => {
                const scoreDiv = scoreForm.querySelector(`div[id="score"]`);
                const scoreId = scoreDiv.getAttribute('data-score-id');
                const scoreInput = scoreDiv.querySelector(`input`);
                const scoreInputValue = scoreDiv.querySelector(`input`).value;
                const url = "{{ path('score_update') }}";
                
                fetchUpdateScore(url, scoreId, scoreInput, targetedModal);
            });
        });

        function fetchUpdateScore(url, scoreId, scoreInput, targetedModal) {
            {# const displayedScoreSpan = document.querySelector(`a[data-bs-target="#kt_modal_edit_student_score_${scoreId}"]`).querySelector('span'); #}
            const displayedScoreSpan = document.getElementById(`score-element_${scoreId}`);

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    scoreId: scoreId,
                    newScore: scoreInput.value,
                }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.status == 'KO') {
                    console.log(data.message);
                    //if (targetElement) {
                    //    if (scoreElement) {
                    //        let spanTarget = document.querySelector(`#socere-error-message_${ scoreId }`);
                    //        spanTarget.textContent = `Saisie invalide: ${data.input} n'est pas un nombre`;
                    //        console.log(data.message);
                    //    } else {
                    //        console.error('Error updating score: Score element not found');
                    //    }
                    //} else {
                    //    console.error('Error updating score: Target element not found');
                    //}
                } else {
                    targetedModal.querySelector('[data-bs-dismiss="modal"]').click();
                    displayedScoreSpan.textContent = scoreInput.value;

                    //scoreElement.textContent = scoreInput;
                    //window.location.reload(true);
                }
            })
            .catch(error => {
                console.error('Error updating score:', error);
            });
        }

        function isFloat(n) {
            return Number(n) === n && n % 1 !== 0;
        }
    </script>



{% endblock %}
