{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container">
        <div class="app-header">
            <ul class="nav justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('home') }}">LOGO</a>
                </li>
                <li class="nav-item">
                    <a class="dropdown-item mr-sm-2 d-flex align-items-center" href="{{ path('home') }}"
                        onclick="event.preventDefault();
                        document.getElementById('logout-form').submit();">
                        <span>Logout</span>
                    </a>
                    <form id="logout-form" action="{{ path('app_logout') }}" method="POST">
                    </form>
                </li>
            </ul>
        </div>
        
        <div class="row">
            <div class="col-3">PROFILE & GREETING</div>
            <div class="col-9">
                BREADCRUMB
            </div>
        </div>

        HERE GOES THE CONTENT

        <div class="row">
            <div class="col-3 left-menu">
                <div class="col-12 mb-4">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Active</a>
                        </li>
                    </ul>
                </div>
                <div class="col-12">
                    <div class="accordion" id="accordionExample">
                    {% if app.request.attributes.get('_route') == 'home' %}
                        <div class="card active">
                    {% else %}
                        <div class="card">
                    {% endif %}
                            <div class="card-header" id="headingOne">
                                <h2 class="mb-0">
                                    <a href="{{ path('team_index') }}">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            All Teams
                                        </button>
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            </div>
                        </div>
                    {% if app.request.attributes.get('_route') == 'team_new' %}
                        <div class="card active">
                    {% else %}
                        <div class="card">
                    {% endif %}
                            <div class="card-header" id="headingTwo">
                                <h2 class="mb-0">
                                    <a href="{{ path('team_new') }}">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Add a Team
                                        </button>
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            </div>
                        </div>
                    {% if app.request.attributes.get('_route') == 'team_deal' %}
                        <div class="card active">
                    {% else %}
                        <div class="card">
                    {% endif %}
                            <div class="card-header">
                                <h2 class="mb-0">
                                    <a href="{{ path('team_deal') }}">
                                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Sell/Buy Players
                                        </button>
                                    </a>
                                </h2>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Main content -->
            <div class="col-9">
                <div class="menu-content">
                    {% for notice in app.flashes('success') %}
                        <div class="alert alert-success" role="alert">{{ notice }}</div>
                    {% endfor %}
                    {% for notice in app.flashes('error') %}
                        <div class="alert alert-danger" role="alert">{{ notice }}</div>
                    {% endfor %}
                    {% block content %}HERE GOES THE SELECTED PAGE{% endblock %}
                </div>
            </div>
        </div>


        <div class="footer">
            <div class="nav">FOOTER</div>
        </div>


        {% block javascripts %}
            {{parent()}}

        {% endblock %}

    </div>
{% endblock %}
