{{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="d-flex justify-content-between">
        <a href="{{ path('matiere_index') }}" class="btn btn-secondary w-66">Voir toutes les matieres</a>
        <button class="btn btn-primary w-66">{{ button_label|default('Enregistrer') }}</button>
    </div>
    
{{ form_end(form) }}
