{% extends 'dashboard-base.html.twig' %}

{% block favicon %}<link rel="shortcut icon" href="../../assets/media/logos/PI-favicon.gif" />{% endblock %}

{% block title %}{{ template_title }}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div hidden>
	{% block logo %}<img alt="Logo" src="../../assets/media/logos/logo_pi-planner.png" class="h-25px logo" />{% endblock %}
</div>

{% for notice in app.flashes('error') %}
	<div class="alert alert-danger" role="alert">{{ notice }}</div>
{% endfor %}

<div class="card mb-5 mb-xl-10">
	<div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
		<div class="card-title m-0">
			<h3 class="fw-bolder m-0">Détails client</h3>
		</div>
	</div>
	<div id="kt_account_settings_profile_details" class="collapse show">
		{{ form_start(form) }}
		<form id="kt_account_profile_details_form" class="form">
			<div class="card-body border-top p-9">
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Nom client</label>
					<div class="col-lg-8 fv-row">
						{{ form_widget(form.nomClient, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
					</div>
				</div>
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Date de fin</label>
					<div class="col-lg-8 fv-row">
						{{ form_widget(form.dateFin) }}
					</div>
				</div>
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Actif / Non actif</label>
					<div class="col-lg-8 fv-row">
						{{ form_widget(form.flagActif, {'attr': {'class': 'form-check-input'}}) }}
					</div>
				</div>
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Nombre de titre(s)</label>
					<div class="col-lg-8 fv-row">
						{{ form_widget(form.nbTitres, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
						<span class="text-danger">{{ form_errors(form.nbTitres) }}</span>
					</div>
				</div>
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Nombre d'utilisateurs</label>
					<div class="col-lg-8 fv-row">
						{{ form_widget(form.nbUsers, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
						<span class="text-danger">{{ form_errors(form.nbUsers) }}</span>
					</div>
				</div>
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Nombre d'entités</label>
					<div class="col-lg-8 fv-row">
						{{ form_widget(form.nbEntities, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
						<span class="text-danger">{{ form_errors(form.nbEntities) }}</span>
					</div>
				</div>
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Simulation</label>
					<div class="col-lg-8 fv-row">
						{{ form_widget(form.simulation, {'attr': {'class': 'form-check-input'}}) }}
					</div>
				</div>
				<div class="row mb-6">
					<label class="col-lg-4 col-form-label required fw-bold fs-6">Limite des annonces</label>
					<div class="col-lg-8 fv-row">
						{{ form_widget(form.limitAnnonce, {'attr': {'class': 'form-control form-control-lg form-control-solid'}}) }}
						<span class="text-danger">{{ form_errors(form.limitAnnonce) }}</span>
					</div>
				</div>

			</div>
			<div class="card-footer d-flex justify-content-end py-6 px-9">
				<a type="button" class="btn btn-light me-3" href="{{ route_back }}">Annuler</a>
				<button type="submit" class="btn btn-primary" id="kt_account_profile_details_submit">Enregistrer</button>
			</div>
		{{ form_end(form) }}
		</form>
	</div>
</div>

{% endblock %}
